# Программная реализация машиного обучения для определения биомаркеров болезни Паркинсона по ЭЭГ

Используемый датасет: https://bit.ly/3pP1pts

(dataset is a public dataset (Anjum et al., 2020) recorded by the University of Iowa (UI; Iowa City, Iowa))

In [1]:
%pip install mne scipy numpy matplotlib numba scikit-learn mat73 pandas --quiet

Note: you may need to restart the kernel to use updated packages.

## Data loading

In [2]:
import mne
import numpy as np
import pandas as pd
import scipy.io as sio
import matplotlib.pyplot as plt
from mne.decoding import CSP
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import ShuffleSplit, KFold
from sklearn.model_selection import cross_val_score
import mat73 # поддержка загрузки функций матлаба 7.3

/Users/evakhromeeva/Projects/BeSMPSegmentation/.conda/lib/python3.9/site-packages/mne/fixes.py:988: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(numba.__version__) < LooseVersion('0.40'):
/Users/evakhromeeva/Projects/BeSMPSegmentation/.conda/lib/python3.9/site-packages/mne/fixes.py:988: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(numba.__version__) < LooseVersion('0.40'):

In [3]:
# используемые версии
mne.sys_info()

Platform:      macOS-14.6.1-arm64-arm-64bit
Python:        3.9.19 (main, May  6 2024, 14:39:30)  [Clang 14.0.6 ]
Executable:    /Users/evakhromeeva/Projects/BeSMPSegmentation/.conda/bin/python
CPU:           arm: 8 cores
Memory:        16.0 GB

mne:           0.22.0
numpy:         1.22.0 {}
scipy:         1.10.1
matplotlib:    3.8.4 {backend=module://matplotlib_inline.backend_inline}

sklearn:       1.1.3
numba:         0.60.0
nibabel:       Not found
nilearn:       Not found
dipy:          Not found
cupy:          Not found
pandas:        2.0.3
mayavi:        Not found
pyvista:       Not found
vtk:           Not found

In [5]:
data_dath_control = 'data/raw/IowaDataset/Control/' # контрольная группа
data_dath_PD = 'data/raw/IowaDataset/PD/' # с болезнью Паркинсона
data_file = './data/raw/IowaData.mat' # склеенный большой датасет в формате MathLab

In [6]:
load_path = data_file

In [17]:
file = data_file #data_dath_PD +'PD1001.mat'

load_data = mat73.loadmat(file) # загрузка для матлаба 7.3
#load_data = sio.loadmat(file) # то же самое для другого матлаба

In [20]:
print(len(load_data['EEG']))
# print(load_data['Filename'])
# print(load_data['__globals__'])

64

In [31]:
df1 = pd.DataFrame(data=load_data['EEG'][0][0])
df2 = pd.DataFrame(data=load_data['EEG'][0][1])
df3 = pd.DataFrame(data=load_data['EEG'][1][0])
df4 = pd.DataFrame(data=load_data['EEG'][1][1])

In [ ]:
df1

,0,1,2,3,4,5,6,7,8,9,...,171340,171341,171342,171343,171344,171345,171346,171347,171348,171349
0,149.582291,142.358582,141.825424,140.169510,147.545990,172.935394,185.526459,184.492844,180.530228,159.676605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-244.234955,-243.248917,-249.537491,-258.997650,-265.574646,-267.609436,-268.813690,-267.430054,-269.806030,-274.866486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-465.553619,-444.537140,-432.900146,-428.540863,-425.793915,-432.567810,-436.215210,-433.905426,-435.209015,-439.636780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,389.584351,386.059692,385.611755,380.525940,388.672058,404.187897,404.369446,414.461639,429.091339,425.262421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.402843,1.363299,5.159580,7.734259,6.158407,3.264828,2.276094,5.193336,8.695606,14.100912,...,-47.489933,-36.796009,-35.137032,-40.850521,-38.213966,-33.1371,-41.048103,-49.298615,-39.190025,-36.35865
5,-931.882080,-937.365417,-932.838806,-929.289917,-933.162903,-940.061462,-952.230835,-956.390076,-951.320801,-941.029175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.074203,0.918420,1.543821,1.729655,0.987832,1.027359,-4.986953,-11.292492,-6.318551,-0.174308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-209.793289,-211.993423,-216.048126,-221.566330,-225.520660,-222.004227,-221.857452,-223.858841,-222.149231,-219.219574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,189.017517,235.436981,94.028160,-50.465225,-148.977005,-220.316315,-99.035843,62.878387,157.861801,241.150070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-27.842075,-29.672396,-32.576263,-39.824394,-42.237175,-30.198200,-23.581779,-11.548079,-2.300587,-8.141459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-17.559874,-19.428572,-23.103125,-22.333908,-18.196247,-15.622034,-19.737051,-26.145498,-26.351843,-22.359505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-88.011536,43.256096,120.050964,181.152512,164.318146,39.349579,-57.364990,-122.660179,-122.907066,-9.937528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-61.372356,-65.728729,-69.644470,-73.217354,-79.620857,-75.184235,-69.479523,-70.757843,-66.616653,-62.134876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,-186.522430,-197.497162,-213.448563,-227.003189,-230.838562,-214.216766,-199.894241,-194.119492,-184.977692,-186.383850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df2

,0,1,2,3,4,5,6,7,8,9,...,164500,164501,164502,164503,164504,164505,164506,164507,164508,164509
0,6.903133,6.604849,7.185431,6.057107,-0.392409,-4.252577,-2.301932,-4.306355,-6.554317,-2.650171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-77.315666,-70.946869,-127.705673,-139.972321,-126.164970,-95.029991,-24.895681,-25.864864,-109.390419,-153.005432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-40.582520,-41.511360,-49.763115,-45.514305,-34.382912,-32.335403,-33.510677,-34.783257,-35.469620,-36.888103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,511.677338,506.454590,503.234985,518.861267,535.166626,531.108887,515.823364,517.531921,526.612000,528.805725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36.690037,39.727100,44.472046,52.730770,51.906422,48.445950,49.722118,49.875034,47.147453,49.693333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,118.060478,113.876762,125.561104,127.233795,121.241081,133.655640,136.839493,119.615173,111.964668,109.491379,...,-121.876175,-110.224098,-101.797493,-102.014618,-102.134041,-102.595169,-107.059509,-116.014122,-117.594208,-112.387695
6,11.960566,16.254471,16.153254,10.632912,7.164621,8.237681,7.113484,6.624280,10.285016,10.136663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,36.091618,36.329723,49.407734,45.345806,39.722744,39.471603,30.335073,34.578136,48.291306,49.600014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5.460632,3.606283,-7.767674,-16.990282,-25.233858,-20.830410,-13.498936,-14.713244,-7.774068,-2.350312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5.347610,10.580648,12.394724,2.881768,-0.965240,2.560842,7.355277,14.540595,14.351879,8.304673,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-72.787910,-100.303886,-84.410027,-35.175785,-5.923334,21.221533,13.451568,-34.935436,-62.022713,-82.657928,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-6.871330,-4.575036,-10.383709,-15.653707,-17.553551,-20.771029,-15.492707,-6.554289,-2.598160,-1.621243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,301.673279,313.757599,329.939423,326.148834,302.489075,297.436859,309.619934,318.333282,299.264862,283.131104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,39.138493,51.752647,53.769035,38.697430,24.850616,11.935321,13.767678,23.117981,29.438725,39.809837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df3

,0,1,2,3,4,5,6,7,8,9,...,171340,171341,171342,171343,171344,171345,171346,171347,171348,171349
0,11.369680,7.434574,4.330541,8.843492,14.624516,22.991430,16.660795,1.300030,4.495663,5.249332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-16.478432,-22.823175,-29.556694,-31.894402,-32.864452,-34.566544,-38.074539,-40.312187,-42.744488,-44.931992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.896951,4.358635,2.746406,3.868619,9.872634,12.213361,8.743703,6.788484,11.034109,10.786983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,58.718227,62.470016,63.828506,62.647907,65.812721,71.710625,71.894791,71.883598,76.901001,80.257057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-49.209145,-50.227844,-48.561089,-48.115334,-47.962627,-49.225780,-52.002029,-54.045174,-55.062492,-48.902805,...,-17.034248,-13.082373,-13.13495,-16.946745,-18.26758,-18.074585,-15.538225,-13.051403,-9.686503,-10.765284
5,115.945175,115.697983,114.230339,116.473511,120.083031,123.935638,118.413483,111.477066,109.766472,113.084938,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-4.742566,-6.305727,-7.624340,-7.575586,-6.306316,-5.183868,-5.184625,-6.405911,-5.674004,-3.038277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-24.076794,-23.473883,-25.556307,-30.713877,-34.405350,-30.333206,-26.457499,-28.002039,-27.153904,-27.526537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,-0.453070,5.888137,2.560953,-0.570005,-6.189959,-15.225806,-10.100952,0.734534,7.221869,10.533991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-11.478978,-14.243970,-19.449238,-25.824741,-25.265833,-16.651583,-12.726603,-7.728667,-5.026740,-6.817126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9.789849,7.439859,6.848096,7.037640,8.887051,12.737606,9.410357,5.449373,6.518092,6.365978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18.546389,21.028227,20.824196,26.137016,32.375935,23.185595,11.605611,17.262783,26.775230,19.734600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-12.050531,-14.095052,-12.184476,-11.836719,-12.953695,-12.508078,-12.892544,-14.985644,-16.687582,-15.410946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,-75.892883,-77.716972,-83.006851,-87.221169,-86.796272,-80.220016,-75.354362,-73.614639,-73.535324,-74.334816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df4

,0,1,2,3,4,5,6,7,8,9,...,164500,164501,164502,164503,164504,164505,164506,164507,164508,164509
0,-16.573851,-18.390152,-18.887766,-19.434061,-23.153576,-26.432650,-26.537416,-26.593332,-28.211508,-28.413412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,82.487221,62.108253,36.559998,32.597935,-0.997471,-9.586926,43.438396,65.154343,23.640686,4.059491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-14.218865,-21.153387,-24.473177,-21.494093,-15.049545,-11.096701,-13.540550,-15.544317,-15.497026,-15.547393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,153.793121,155.059250,158.131393,160.665649,159.635208,153.088272,147.080215,150.935730,153.813705,154.005722,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-13.905575,-12.677874,-9.741776,-5.439514,-4.018920,-4.990966,-4.742207,-1.368962,2.589184,5.179217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,70.173103,67.499184,69.610497,71.379456,66.020020,62.810226,59.894268,51.706444,52.211102,56.230747,...,14.531931,15.746505,18.523014,20.371134,23.292797,23.723753,21.469419,17.214054,14.619811,17.884846
6,-6.445714,-14.062609,-19.382753,-17.329391,-17.424742,-21.084011,-20.641268,-19.808075,-19.268047,-19.362844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3.919180,7.397347,15.659005,17.376289,18.263124,16.952755,7.489615,4.375906,13.712484,20.654181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6.608749,6.221406,4.857748,5.593788,5.646122,4.770838,5.799829,3.850435,4.049725,8.203475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-2.512596,-3.347239,-2.082335,-3.649418,-3.458494,-4.585797,-4.638714,-1.908808,0.771504,3.451059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-21.454376,-23.648994,-25.940634,-22.128975,-18.611319,-17.193968,-14.898239,-15.044215,-15.873648,-14.652355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-5.110889,-5.791702,-7.399924,-7.103665,-7.149238,-6.901870,-3.530015,-0.207935,1.453285,-0.742840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-16.102266,-10.491306,-2.196768,-2.106536,-11.487642,-11.004212,-2.465422,-1.154584,-13.855799,-22.013050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,-2.133925,0.209697,-0.767186,-5.258918,-7.015393,-6.769702,-3.790093,-2.910638,-4.716598,-3.592775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Выглядит как будто у нас 28 каналов, которые мы зачем-то поделили по полушариям (те самыо 0 и 1 - понять бы, откуда нумерация и понадобится ли мне это). Так же есть много столбцов, в которых в основном NaN - их нужно удалить. По OX, кажется время. Нужно понять, в чет оно исчисляется (милисекунды/секунды или еще что-то).
Другие 0 и 1, очевидно, означают наличие или отсутствие подтвержденного диагноза болезни Паркинсона.

# Выборка train и test
Для подготовки выборки мне нужно склеить датасет по частотам и по наличию/осутствию. Притом сделать это нужно так, чтобы было возможно его перемешать и поделить на train и test.
! Поссмотреть, как это делалось в моем пробном колабе с mne!!!

In [29]:
eeg_data = np.array(load_data["x_train"]).T
label = np.array(load_data["y_train"])
print(eeg_data.shape)

KeyError: 'x_train'